body {
    background-color: aliceblue;
}

body {
    color: white;
}


.btn {
    cursor: pointer;
}

.clicked {
    color: #7f8c8d;
}


.form,
.greetings {
    display: none;
}

.js-greetings {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.showing {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadein .5s linear;
}

.js-clock {
    font-size: 3em;
    font-weight: Bold;
    text-align: center;
    padding-top: 20px;
}

.js-toDoForm {
    font-size: 3em;
    text-align: center;
}

.js-toDoForm>input[type=text],
::placeholder {
    font-size: 30px;
    color: white;
    border: none;
    background: none;
    border-bottom: 2px solid white;
}

.js-toDoList {
    position: absolute;
    bottom: 150px;
    left: 43%;
    font-size: 1.5em;
    text-align: center;
    list-style-type: none;
}